*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.db

# Build tools binaries and SDKs
/build_tools/android-ndk-r26b/
/build_tools/cmake/
/build_tools/flatc/
/build_tools/ninja/

# LiteRT clone and built dependencies
/LiteRT/

# Temporary zip files
/*.zip
