<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/kosh_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kosh_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kosh">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kosh"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Required for Hexagon NPU access -->
        <uses-native-library android:name="libcdsprpc.so" android:required="false"/>
    </application>

</manifest>